.input-box {
  margin: 20px;
  border: 1px;
  height: 20px;
}

.input-text {
  width: 98%;
  height: 20px;
}

.input-number {
  width: 25%;
  height: 20px;
}

button {
  width: 80px;
  height: 30px;
  border-radius: 5px;
  padding: 0px;
  background-color: lightgrey;
  text-align: center;
  place-items: center;
}

.center-box {
  width: 20%;  
  margin: 60px 0px;
  margin-left: 40%;
}
