#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.input-box {
  padding: 10px;
  border: 1px;
  height: 20px;
}

.input-text {
  width: 100%;
}

.input-number {
  width: 25%;
}

button {
  width: 70px;
  height: 30px;
  place-items: center;
}

.center-box {
  width: 20%;
  margin-left: 40%;
}

main {
  background-color: lightcyan;
  /*height: 100%;*/
}

